@charset "UTF-8";

/* Указываем box sizing */

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */

ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */

img {
  max-width: 100%;
  display: block;
}

.header {
  padding-top: 15px;
  max-width: 1215px;
  margin: 0 auto;
  position: relative;
  z-index: 4;
}

.header__inner {
  display: flex;
  height: 90px;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  opacity: 0.9;
  padding: 0 40px;
  border-radius: 45px;
  width: 100%;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
  z-index: 3;
}

.header__menu-mobile {
  display: none;
}

.header__lists {
  display: flex;
}

.header .header__list + .header__list {
  margin-left: 25px;
}



.header__link {
  text-decoration: none;
  color: #2B2B2B;
  font-weight: 500;
  font-family: "FuturaPT";
  font-weight: 500;
  font-size: 18px;
}

.header__link:hover {
  color: #FFC522;
}

.eco__logo {
  position: relative;
  z-index: 33;
}

.eco__button-cont {
  width: 206px;
  height: 50px;
  background: linear-gradient(94.14deg, #FFC522 8.37%, #FFBE09 90.95%);
  box-shadow: 0px 4px 20px rgba(117, 84, 65, 0.2);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  transition-duration: 0.3s;
}

.eco__button-cont:hover {
  background: #FFD04A;
}

.eco__button-cont:hover .eco__button-wrapper {
  background: #FFD04A;
}

.eco .header-button {
  display: none;
}

.eco__button-wrapper {
  width: 201px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(94.14deg, #FFC522 8.37%, #FFBE09 90.95%);
  text-decoration: none;
  border-radius: 25px;
  border: 1px solid #F6B80A;
  color: #755441;
  transition-duration: 0.3s;
}

.eco__button-wrapper:hover {
  background-color: #FFD04A;
}

.eco__button-wrapper:hover .eco__button-cont {
  background-color: #FFD04A;
}

.burger {
  width: 30px;
  height: 23px;
  position: relative;
  cursor: pointer;
  transition-duration: 0.3s;
  display: none;
  z-index: 33;
}

.burger::before,
.burger::after {
  position: absolute;
  content: '';
  width: 30px;
  height: 3px;
  border-radius: 5px;
  background-color: #FFC522;
  transition-duration: 0.3s;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger span {
  position: absolute;
  width: 30px;
  height: 3px;
  border-radius: 5px;
  background-color: #FFC522;
  top: 50%;
  margin-top: -1px;
  transition-duration: 0.3s;
}

.burger.active span {
  transform: scale(0);
}

.burger.active::before {
  top: 50%;
  margin-top: -1px;
  transform: rotate(-45deg);
}

.burger.active::after {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
}

@font-face {
  font-family: "FuturaPT";
  font-display: swap;
  src: url("../fonts/FuturaPT-Bold.woff") format("woff"), url("../fonts/FuturaPT-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "FuturaPT";
  font-display: swap;
  src: url("../fonts/FuturaPT-Light.woff") format("woff"), url("../fonts/FuturaPT-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FuturaPT";
  font-display: swap;
  src: url("../fonts/FuturaPT-Medium.woff") format("woff"), url("../fonts/FuturaPT-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

.title__banner {
  width: 100%;
  height: 782px;
  background: url("../img/banner.png") 0 0 no-repeat local;
  background-position: center;
  position: relative;
  z-index: 2;
}

.main__title {
  color: #fff;
  font-size: 48px;
  text-align: center;
  margin-bottom: 120px;
  padding-top: 280px;
}

.main__title span {
  color: #FFC522;
}

.eco {
  font-family: "FuturaPT";
  position: relative;
}

.eco__container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}

.lock {
  overflow: hidden;
}

.eco__section {
  margin-bottom: 120px;
  position: relative;
  z-index: 2;
}

.eco__section_main {
  margin-bottom: 120px;
  position: relative;
  z-index: 2;
}

.eco__section1 {
  margin-bottom: 60px;
  position: relative;
  z-index: 2;
}

.eco__sub-title {
  font-size: 16px;
  font-weight: 300;
  color: #606060;
  margin-bottom: 15px;
  text-align: center;
}

.eco__title {
  line-height: 1;
  margin-bottom: 25px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.eco__text {
  font-size: 14px;
  font-weight: 400;
  color: #606060;
  font-family: "Montserrat";
}

.info-back {
  position: absolute;
  z-index: 3;
  width: 720px;
}

.video__back {
  position: absolute;
  left: 184px;
  top: -83px;
}

.efect-back {
  position: absolute;
  bottom: -200px;
}

.reco-back {
  z-index: 1;
  position: absolute;
  top: 227px;
}

.agrar-back {
  position: absolute;
  top: -200px;
}

.footer-back {
  position: absolute;
  top: 0px;
}

.write__me {
  position: absolute;
  z-index: 102;
  width: 100%;
  height: 100%;
  padding: 0 5px;
  background-color: rgba(0, 0, 0, 0.322);
  display: none;
}

.write__me.active {
  display: block;
}

.write__inner {
  display: flex;
  justify-content: space-between;
  max-width: 750px;
  height: 535px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 295px;
  border-radius: 10px;
}

.write__img img {
  width: 100%;
}

.write__forms {
  flex: 1 0 305px;
  margin-right: 35px;
}

.write__text-inner {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  align-items: center;
  margin-bottom: 30px;
}

.write__title {
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
}

.write__input {
  resize: none;
  width: 100%;
  height: 65px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
  padding-left: 20px;
  margin-bottom: 20px;
}

.write__input:focus {
  outline: none;
}

.write__input::placeholder {
  font-size: 14px;
  font-family: "Montserrat";
}

.write__area {
  height: 150px;
}

.write__del {
  cursor: pointer;
}

.write__form .eco__button-cont {
  width: 305px;
  height: 74px;
  border-radius: 37px;
}

.write__form .eco__button-wrapper {
  width: 298px;
  height: 70px;
  border-radius: 35px;
}

.info2 {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100vh;
  padding: 0 5px;
  background-color: rgba(0, 0, 0, 0.322);
  display: none;
}

.info2.active {
  display: block;
}

.info2__inner {
  max-width: 750px;
  height: 78vh;
  margin: 0 auto;
  margin-top: 15vh;
  background-color: #fff;
  border-radius: 10px;
  overflow-x: auto;
}

.info2__img {
  position: relative;
}

.info2__conten {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 30px;
  margin-top: 35px;
  display: flex;
  width: 100%;
}

.info2__del {
    background: black;
    margin-left: 661px;
    position: fixed;
    cursor: pointer;
    border-radius: 30px;
}

.info2__title {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}
.info2__title2 {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}

.info2__text-inner {
  margin-top: 30px;
  padding: 0 20px;
}

.info2__text {
  font-size: 14px;
  font-weight: 400;
  color: #606060;
  font-family: "Montserrat";
}

.main__swiper.active {
  opacity: 0;
}

.main__swiper .swiper-pagination-bullet {
  background-color: #EBEBEB;
  opacity: 1;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-left: 15px;
  transition-duration: 0.3s;
}

.main__swiper .swiper-pagination-bullet:first-child {
  margin: 0;
}

.main__swiper .swiper-pagination-bullet-active {
  background-color: #FFC522;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transform: translateY(5px);
}

.main__swiper .swiper-button-next:after,
.main__swiper .swiper-button-prev:after {
  display: none;
}

.main__swiper .swiper-button-next,
.main__swiper .swiper-button-prev {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-color: #FDF5E6FF;
  border-radius: 50%;
  position: static;
  display: inline-block;
  margin-top: 20px;
}

.main__swiper .swiper-button-prev {
  background-image: url(../img/prev.svg);
}

.main__swiper *:focus {
  outline: none;
}

.main__slider {
  margin-bottom: 60px;
}

.main__slider-slide {
  padding-top: 40px;
}

.main__slider-control {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__slider-button-prev {
  margin-right: 30px;
  cursor: pointer;
}

.main__slider-button-next {
  margin-left: 30px;
  cursor: pointer;
}

.main__slide-contet {
  width: 289px;
  height: 163px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}

.main__slide-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0px 4px 20px rgba(117, 84, 65, 0.2);
  position: absolute;
  left: 50%;
  margin-left: -35px;
  top: -35px;
}

.main__slide-text {
  text-align: center;
  padding-top: 50px;
}

.main__slider-overflow {
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 45%;
  max-width: 1215px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 50px;
}

.swiper-container-multirow-column > .swiper-wrapper {
  flex-direction: column;
}

.orgo-back {
  position: absolute;
  top: 0px;
  right: 0;
  z-index: 1;
}

.orgo {
  position: relative;
  z-index: 2;
}

.orgo__inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.orgo__text-info {
  font-size: 24px;
  color: #606060;
}

.eco__sub-title {
  font-size: 16px;
  font-weight: 300;
  color: #606060;
  margin-bottom: 15px;
}

.eco__title {
  line-height: 1;
  margin-bottom: 25px;
  font-size: 36px;
  font-weight: 700;
}

.info {
  background-color: #F6F6F6;
}

.info__img {
  transform: translateY(-30px);
}

.info .eco__title {
  margin-bottom: 0;
}

.video__inner {
  display: flex;
  align-items: center;
}

.video__video {
  background-color: #606060;
  position: relative;
  margin-right: 70px;
  max-width: 700px;
  filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.1));
}

.video__video video {
  width: 700px;
  height: 430px;
}

.video__play {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 0;
  right: 0;
  top: 50%;
  margin: 0 auto;
  margin-top: -35px;
  cursor: pointer;
}

.vidio__text {
  margin-bottom: 30px;
}

.compound .eco__text {
  max-width: 402px;
  margin-top: 15px;
}



.compound__text-inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
  align-items: center;
  width: 100%;
}

.compound__block-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.compound__block-inner-g {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.compound__block {
  width: 290px;
  height: 160px;
  background-color: #6FBB84;
  border-radius: 10px;
  padding: 30px;
  position: relative;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.compound__block:hover {
  left: -10px;
}

.compound .compound__block:hover .compound__block-info {
  display: block;
}

.compound__elem {
  font-size: 40px;
  font-family: "Montserrat";
  color: #fff;
  font-weight: 500;
}

.compound__amount {
  font-size: 24px;
  font-weight: 700;
  color: #CAFFD9;
}

.compound__block-info {
  position: absolute;
  width: 228px;
  height: 50%;
  display: none;
  background-color: #6FBB84;
}

.compound__block-text {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  font-family: "Montserrat";
}

.compound__block-text a {
  color: #fff;
}

.white__block-text {
  color: #2B2B2B;
}

.white__block-text a {
  color: #6FBB84;
}

.white__elem {
  color: #606060;
}

.white__amount {
  color: #FFC522;
}

.white__block-info {
  background-color: #fff;
}

.white__block {
  background-color: #fff;
}

.white__block:hover {
  left: 10px;
}

.efect {
  margin-bottom: 170px;
}

.efect__inner {
  display: flex;
  margin-top: 70px;
}

.efect__up {
  display: flex;
  align-items: center;
  margin-bottom: 65px;
}

.efect__fuct {
  display: flex;
  margin-bottom: 25px;
}

.efect__fuct-img {
  margin-right: 25px;
}

.efect__up-inner .eco__title {
  margin-bottom: 0;
  margin-right: 25px;
}

.efect__img-inner {
  display: flex;
  justify-content: space-between;
}

.efect__img-inner .eco__text {
  text-align: center;
  margin-bottom: 30px;
}

.efect .efect__img-inner {
  margin-bottom: 50px;
}

.efect__img-block {
  position: relative;
  width: 207px;
  z-index: 2;
}

.efect__img-block:nth-child(4) .efect__block-img-inner::after {
  display: none;
}



.efect__block-img-inner {
  position: relative;
  margin-bottom: 15px;
  z-index: 2;
}

.efect__block-img-inner::after {
  content: '';
  position: absolute;
  width: 150px;
  height: 20px;
  background-color: #F6F6F6;
  top: 96px;
  right: -143px;
  z-index: -1;
}

.efect .efect-none::after {
  display: none;
}

.efect__block-circle {
  position: absolute;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFC522;
  border-radius: 50%;
  font-family: "FuturaPT";
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  left: 76px;
  right: 0;
  top: 145px;
}

.use .swiper-pagination-bullet {
  background-color: #EBEBEB;
  opacity: 1;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-left: 15px;
  transition-duration: 0.3s;
}

.use .swiper-pagination-bullet:first-child {
  margin: 0;
}

.use .swiper-pagination-bullet-active {
  background-color: #FFC522;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transform: translateY(5px);
}

.use .swiper-slide {
  transform: scale(0.8);
  transition-duration: 0.5s;
}

.use .swiper-slide-active {
  transform: scale(1.2);
}

.use .eco__title {
  text-align: center;
  margin-bottom: 70px;
}

.use .eco__sub-title {
  text-align: center;
}

.use__slider-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.use__slider-control {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.use__slider-arrow-prev {
  margin-right: 30px;
  cursor: pointer;
}

.use__slider-arrow-next {
  margin-left: 30px;
  cursor: pointer;
}

.reco .eco__title {
  margin-bottom: 70px;
}

.reco__inner {
  display: flex;
  flex-wrap: wrap;
}

.reco__block {
  background-color: #fff;
  max-width: 385px;
  height: 442px;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  margin-bottom: 40px;
  border-radius: 10px;
}

.reco__block:nth-child(3) {
  margin-right: 0;
}

.reco__block-text {
  padding: 30px;
}
.agrar__text1 {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  }

.reco__title {
  font-weight: 700;
  font-size: 24px;
  color: #2B2B2B;
  margin-bottom: 30px;
  line-height: 1;
}

.tab .eco__text {
  max-width: 400px;
}

.tab__inner {
  margin-bottom: 20px;
}

.tab__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.tab__title {
  font-size: 36px;
  font-weight: 500;
  color: #2B2B2B;
}

.tab__container.active .tab__arrow {
  transform: rotate(180deg);
}

.tab__content {
  overflow: hidden;
  transform: translateY(0px);
  height: 0px;
  border-bottom: 1px solid black;
  transition-duration: 0.5s;
  display: flex;
  align-items: center;
}

.tab__content.active {
  transition-duration: 0.5s;
  transform: translateY(0);
  height: 670px;
}

#infotab2 .eco__title {
  text-align: start;
}

#infotab2 .eco__text {
  max-width: 1495px;
}

#infotab2 .eco__sub-title {
  text-align: start;
}

#infotab2.active {
  height: 1080px;
}

.tab__tabble {
  margin-top: 30px;
  transform: translateX(-40px);
}

.tab__tabble img {
  max-width: 1000px;
}

.tab__text-inner {
  margin-bottom: 30px;
}

.tab__logo {
  margin-bottom: 50px;
}

.tab__logo img {
  width: 400px;
}

.prep .swiper-pagination-bullet {
  background-color: #EBEBEB;
  opacity: 1;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-left: 15px;
  transition-duration: 0.3s;
}

.prep .swiper-pagination-bullet:first-child {
  margin: 0;
}

.prep .swiper-pagination-bullet-active {
  background-color: #FFC522;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transform: translateY(5px);
}

.prep .swiper-slide {
  transform: scale(0.8);
  transition-duration: 0.5s;
}

.prep .swiper-slide-active {
  transform: scale(1.2);
}

.prep .eco__title {
  text-align: center;
}

.prep .eco__sub-title {
  text-align: center;
}

.prep .eco__text {
  text-align: center;
}

.prep__slider-wrapper {
  padding-top: 70px;
}

.prep__slider-control {
  display: flex;
  align-items: center;
  justify-content: center;
}

.prep__slider-prev {
  margin-right: 30px;
  cursor: pointer;
}

.prep__slider-next {
  margin-left: 30px;
  cursor: pointer;
}

.agrar .eco__title {
  margin-bottom: 60px;
}

.agrar__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.agrar__block {
  width: 598px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
  filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.1));
  margin: 0 auto;
}

.agrar .agrar__block:hover .agrar__img img {
  transition-duration: 0.3s;
  transform: scale(1.1);
}

.agrar__img {
  position: relative;
}

.agrar__img .ag-img {
  transition-duration: 0.3s;
  width: 600px;
}

.agrar__block-content {
  width: 100%;
  position: absolute;
  top: 105px;
  left: 0;
  padding: 25px;
}

.agrar__block-logo {
  margin-bottom: 30px;
}

.agrar__text-inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.agrar__text {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}

.agrar__arrow {
  margin-top: 70px;
}

.partners .eco__title {
  margin-bottom: 60px;
}

.partners__inner {
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.footer {
  background-color: #F6F6F6;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  z-index: 2;
}

.footer .eco__title {
  margin-bottom: 70px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer__block {
  margin-bottom: 35px;
}

.footer__block-img {
  margin-right: 5px;
}

.footer__block-img-inner {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.footer__title {
  font-size: 24px;
  font-weight: 700;
  color: #2B2B2B;
}

.main__slider-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*# sourceMappingURL=eco.css.map */

/*# sourceMappingURL=eco.css.map */

@media (min-width: 645px) {
  .agrar .back-mob {
    display: none;
  }
      .eco__button-cont {
  margin-right: -15%;
}
}

@media (min-width: 700px) {
  .use .swiper-slide-active {
    transform: scale(1);
  }

}

@media (min-width: 2050px) {
  .efect-back {
    left: 360px;
  }
      .eco__button-cont {
  margin-right: -55%;
}



}



@media (min-width: 1450px) {

  .eco__button-cont {
  margin-right: -45%;
}

}


@media (max-width: 1450px) {
  .efect-back {
    bottom: -250px;
  }
    .eco__button-cont {
  margin-right: -45%;
}
}

@media (max-width: 1220px) {
  .reco__inner {
    justify-content: center;
  }
}

@media (max-width: 1215px) {
  .compound__block-inner-g {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 30px;
  }

  .agrar__inner {
    grid-template-columns: 1fr;
    align-items: center;
  }
}

@media (max-width: 1200px) {
  .main__title {
    margin-bottom: 39px;
    padding-top: 150px;
  }

  .main__slider-overflow {
    height: 390px;
  }

  .main__slider-wrapper {
    max-width: 700px;
    margin: 0 auto;
  }
}

@media (max-width: 1135px) {
  .video__video {
    margin-right: 35px;
  }
}


@media (max-width: 1100px){

.efect__img-inner2 {
    flex-direction: column-reverse;
}



.efect__img-inner {
    flex-direction: column;
    align-items: center;
}
}

@media (max-width: 5100px) {
  .efect__img-inner {
 
    align-items: center;
  }

  .efect__img-inner2 {
 
  }

  .efect .efect__img-inner {
    margin-bottom: 0;
  }

  .efect__img-block:nth-child(4) .eco__text::after {
    display: none;
  }

  .efect__block-img-inner::after {
    display: none;
  }

  .header__menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100%;
    background-color: #fff;
    opacity: 1;
    transition-duration: 0.3s;
    display: block;
    z-index: 3;
  }

  .header__menu.active {
    left: 0;
  }

  .header__menu.active .header__list {
    margin-left: 40px;
  }
 .agrar__text1 {
  font-size: 19px;
  font-weight: 500;
  color: #fff;
  }
  .header__menu.active .header__list + .header__list {
    margin-top: 20px;
  }

  .header__menu .header__lists {
    flex-direction: column;
    margin-top: 120px;
  }

  .burger {
    display: block;
  }

  .video__inner {
    flex-direction: column-reverse;
  }

  .video__video {
    margin-right: 0;
  }

  .tab__content {
    flex-direction: column;
  }

  .tab__content.active {
    height: 1200px;
  }

  .tab__tabble {
    transform: translateX(0px);
  }
}

@media (max-width: 1070px) {
  .compound__text-inner {
    flex-direction: column;
    align-items: center;
  }

  .compound__title {
    margin-bottom: 40px;
  }

  #infotab2.active {
    height: 3030px;
  }
      .eco__button-cont {
  margin-right: -15%;
}
}

@media (max-width: 1000px) {
  .footer-back {
    display: none;
  }

  .tab__title {
    font-size: 25px;
  }

  .agrar__block-content {
    top: 50px;
  }

  .partners__inner {
    align-items: center;
    flex-direction: column;
  }

  .footer__inner {
    flex-direction: column;
  }
}

@media (max-width: 945px) {
  .header {
    margin-bottom: 0px;
  }

  .main__title {
    margin-bottom: 85px;
    font-size: 25px;
  }
      .eco__button-cont {
  margin-right: -15%;
}

  .main__slider-overflow {
    height: 400px;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
  }
}

@media (max-width: 925px) {
  .compound__block-inner-g {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 920px) {
  .info__img {
    transform: translateY(0px);
  }

  .info .eco__title {
    margin-bottom: 30px;
  }
}

@media (max-width: 900px) {
  .prep .swiper-slide-active {
    transform: scale(1);
  }

  .prep__slider-cont {
    margin-left: 190px;
  }
}

@media (max-width: 881px) {
  .efect__inner {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 867px) {
  .reco-back {
    display: none;
  }
}

@media (max-width: 835px) {
  .compound__text-inner {
    flex-direction: column;
  }
}

@media (max-width: 780px) {
  .video__video video {
    width: 500px;
    height: 300px;
  }
}

@media (max-width: 768px) {
  .orgo__inner {
    flex-direction: column;
  }

  .orgo__text {
    text-align: center;
    margin-bottom: 29px;
  }
}

@media (max-width: 749px) {
  .write__inner {
    padding: 0 30px;
  }

  .write__img {
    display: none;
  }

  .write__forms {
    flex: 0 0 100%;
  }
}

@media (max-width: 700px) {
  .prep__slider-cont {
    margin-left: 40px;
  }
}

@media (max-width: 680px) {
  .tab__tabble img {
    max-width: 420px;
  }
}

@media (max-width: 650px) {
  .reco__block {
    margin-right: 0;
  }

  .main__slide-contet {
    max-width: 198px;
  }

  .main__slide-img {
    width: 50px;
    height: 50px;
    top: -25px;
    margin-left: -25px;
  }

  .main__slide-text {
    padding-top: 20px;
  }

  .main__slider-overflow {
    border-bottom-left-radius: 32%;
    border-bottom-right-radius: 32%;
  }

  .prep__slider-cont {
    margin-left: 10px;
  }
}

@media (max-width: 649px) {
  .eco__logo {
    max-width: 200px;
  }
}

@media (max-width: 645px) {
  .info2__inner {
    margin-top: 85px;
  }

  .info2__title {
    font-size: 20px;
  }

  .agrar__block {
    width: 330px;
    margin: 0 auto;
    height: 220px;
  }

  .agrar .ag-img {
    display: none;
  }

  .agrar__block-content {
    top: 30px;
  }

  .agrar__text {
    font-size: 20px;
  }
  .agrar__text1 {
    font-size: 19px;
  }

  .agrar__arrow {
    margin-top: 40px;
  }
  .info2__del {
    margin-left: 300px;
  }
}

@media (max-width: 635px) {
  .compound__block {
    width: 158px;
    padding: 15px;
  }

  .compound__block-info {
    width: 128px;
    height: 90%;
  }
}

@media (max-width: 550px) {
  .main__slider-overflow {
    overflow: visible;
  }

  .header__inner .eco__button-cont {
  max-width: 120px;
  margin-right: 10px;
  margin-left: 10px;


  }

  .header__inner {
    height: 54px;
  }

  .eco .header-button {
    position: absolute;
    top: 400px;
    left: -100%;
    display: block;
    z-index: 33;
  }

  .eco .header-button.active {
    left: 0;
  }

  .main__title {
    margin-bottom: 50px;
  }

  .video__video video {
    width: 400px;
    height: 250px;
  }
}
@media (prefers-color-scheme: dark){

}

@media (max-width: 500px) {
    #blackmanda{
    display: none;
  }
  .eco__container {
    padding: 0 5px;
  }
  .info2__title2{
    font-size: 15px;
    color: white;
  }

  .video__back {
    left: -90px;
    top: 130px;
  }

  .efect-back {
    bottom: -250px;
  }

  .orgo-back {
    top: 264px;
  }

  #effectt {
    display: none;
  }
}

@media (max-width: 410px) {
  .main__slide-contet {
    max-width: 170px;
  }

  #effectt {
    display: none;
  }
}

@media (max-width: 392px) {
  #infotab2.active {
    height: 3520px;
  }
}

@media (max-width: 355px) {
  .main__slide-contet {
    max-width: 160px;
  }
}

@media (max-width: 330px) {
  .main__slide-contet {
    max-width: 155px;
  }

  #effect__prim {
    display: none;
  }

  #effectt {
    display: none;
  }
}

@media (max-width: 320px) {

  #infotab2.active {
    height: 3520px;
  }
}

@media (min-width: 2050px) and (max-width: 480px) {
  .main__slider-slide {
    margin-left: 0;
  }
}

@media (min-width: 2050px) and (max-width: 475px) {
  .eco__sub-title {
    font-size: 10px;
  }

  .eco__title {
    font-size: 24px;
  }
}

@media (min-width: 2050px) and (max-width: 460px) {
  .video__video video {
    width: 300px;
    height: 200px;
  }
}

@media (min-width: 2050px) and (max-width: 455px) {
  .main__slide-contet {
    max-width: 158px;
  }
}

@media (min-width: 2050px) and (max-width: 415px) {
  .tab__tabble img {
    max-width: 400px;
  }
}

@media (min-width: 2050px) and (max-width: 400px) {
  .main__slider-slide {
    margin-left: 0;
  }

  .orgo__text-info {
    font-size: 18px;
  }

  .eco__sub-title {
    font-size: 10px;
  }

  .eco__title {
    font-size: 24px;
  }
}

@media (min-width: 2050px) and (max-width: 365px) {
  .main__slide-contet {
    max-width: 100%;
  }
}





.topmenu > li {
  width: 35%;
  float: left;
  position: relative;
  font-family: "FuturaPT";
  text-decoration:none;
}
.topmenu > li > a {
text-decoration:none;
  font-size: 18px;
  
      color: #2B2B2B;

}
.topmenu li a:hover { color: #D5B45B; }
.submenu-link:after {
font-family: "FuturaPT";
  color: inherit;
  margin-left: 10px;
  border-radius: 30px;
  text-decoration:none;
}
.submenu {
  border-radius: 5px;
  background: #fff;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 5;
  width: 280px;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: .5s ease-in-out;
}
.submenu a {
  color: black;
  text-align: left;
  padding-left: 10px;
  font-size: 15px;
 text-decoration:none;

}
.submenu li:last-child a { border-bottom: none; }
.topmenu > li:hover .submenu {
  opacity: 1;
  transform: scaleY(1);
}

.minimized1 {
  
}
.minimized1:hover {
  border: 1px solid yellow;
}
.minimized {
  
}
.minimized:hover {
  border: 1px solid yellow;
}
/* увеличенная картинка */
#magnify {
  display: none;
  /* position: absolute; upd: 24.10.2016 */
  position: fixed;
  max-width: 1000px;
  height: auto;
  z-index: 9999;
}
#magnify img {
  width: 100%;
}
#magnify1 {
  display: none;
  /* position: absolute; upd: 24.10.2016 */
  position: fixed;
  max-width: 2000px;
  height: auto;
  z-index: 9999;
}
#magnify1 img {
  transform: rotate(90deg);
  width: 100%;
}
/* затемняющий фон */
#overlay {
  display: none;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;

  width: 100%;
  opacity: 0.5;
  z-index: 9990;
}
/* кнопка закрытия */
#close-popup {
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid #AFAFAF;
  border-radius: 15px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}
#close-popup i {
  width: 30px;
  height: 30px;
  background: url(https://codernote.ru/files/cross.png) no-repeat center center;
  background-size: 16px 16px;
  display: block;
}
@keyframes rota {
 25% { transform: rotate(360deg); }
}
#close-popup:hover {
  animation: rota 4s infinite normal;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/*# sourceMappingURL=eco.css.map */
